#legendsDiv {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
}

img {
   width: 70%;
   height: 70%;
}

#pageTitle {
   text-align: center;
   font-size: 3rem;
   margin-bottom: 2rem;
}